include AUTHORS
include CREDITS
include COPYING
include INSTALL
include MANIFEST.in
include README
include TODO
include images/*
include eggtray/*
include scripts/*
include pytelemeterrc
include setup.py
